.App {
  text-align: center;
}

.App-header {
  background-color: #1e1e1e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 40px;
}

.app-button {
  background-color: #3a3a3a;
  color: #ffffff;
  padding: 15px 40px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  width: 100%;
  max-width: 200px;
  justify-self: center;
}

.app-button:hover {
  background-color: #505050;
  transform: scale(1.05);
}